@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5774<br />
    Redmond, Pretoria, Gauteng<br />
    <abbr title="Phone">P:</abbr>
    078 292 1448
</address>

<address>
    <strong>Email:</strong>   <a href="u21454249@tuks.com">U21454249@tuks.com</a><br />
</address>